{% extends 'base.html' %}
{% block title %}Editar Projeto{% endblock %}
{% block content %}
<h2>Editar Projeto</h2>

<form method="POST">
    <label for="nome">Nome do Projeto</label>
    <input type="text" name="nome" value="{{ projeto.nome }}" required>

    <label for="descricao">Descrição</label>
    <textarea name="descricao" rows="4" required>{{ projeto.descricao }}</textarea>

    <button type="submit">Salvar Alterações</button>
    <a href="{{ url_for('ver_projeto', projeto_id=projeto.id) }}" class="btn">↩️ Voltar</a>
</form>
{% endblock %}
